@import "tailwindcss";

@theme {
  
}

@layer base {
  button {
    cursor: pointer;
  }
  
  [role="button"] {
    cursor: pointer;
  }
}

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39); 
}